/* Make the canvas element responsive

// Mobile
body::before {
  display: none;
  content: '{ "current": "small", "all": ["small"] }';
}
 
// Tablet
@media viewport and (min-width: 480px) {
  body::before {
    content: '{ "current": "medium", "all": ["small", "medium"] }'
  }
}
 
// Desktop
@media viewport and (min-width: 640px) {
   body::before {
    content: '{ "current": "large", "all": ["small", "medium", "large"] }'
  }
}
*/

.hidden {
    display: none;
}

//Les canvas sont positionnés grâce à 3 div
.wrapper {
    display: table;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
 
.container {
    display: table-cell;
    vertical-align: middle;
}
 
.canvas-container {
    position: relative;
    max-width: 1024px;
    min-width: 320px;
    margin: 0 auto;
}

//Mise en place de la "couche de fond"
#terrain {
    width: 100%;
    height: auto; 
    background-color: pink;
    z-index: 0;
}

//Mise en place des couches suivantes
#artefact, #enemies, #joueur, #fog, #ui {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#artefact {
    z-index: 1;
}

#enemies {
    z-index: 2;
}

#joueur {
    z-index: 3;
}

#fog {
    z-index: 25;
}

#ui {
    z-index: 50;
}

//Formulaire de création du perssonnage
#createHero {
   background-color: white;
   padding: 15px;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 55;  
}