@font-face {
    font-family: 'enchantedLandRegular';
    src: url('../fonts/enchanted_land-webfont.woff2') format('woff2'),
         url('../fonts/enchanted_land-webfont.woff') format('woff'),
         url('../fonts/enchanted_land-webfont.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #f0f0f0;
    margin: 0;
    overflow: hidden;
}

#container {
    position: relative;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px black;
}

#map {
    z-index: 1;
}

#items {
    z-index: 2;
}

#perso {
    z-index: 3;
}

#ui {
    z-index: 10;
}