@font-face {
    font-family: 'enchantedLandRegular';
    src: url('./fonts/enchanted_land-webfont.woff2') format('woff2'),
        url('./fonts/enchanted_land-webfont.woff') format('woff'),
        url('./fonts/enchanted_land-webfont.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    position: relative;
    background-color: black;
    font-family: 'enchantedLandRegular';
    color: white;
    margin: 0;
    padding: 0;
}

#loading, #menu, #gameInterface {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#menu, #mainMenu, #inGameMenu, #creationForm, #loadForm, #optionsForm, #credits, #story {
    display: none;
}

/* Main menu (buttons and forms) */
#menu {
    background-color: black;
    background-image: url('./assets/img/scroll.png');
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

#menu h1 {
    font-size: 10vh;
    margin: 7vh auto;
}

#menu h2 {
    font-size: 7vh;
    margin: 2vh auto;
}

#menu button {
    font-size: 7vh;
    padding: 10px;
    background: none;
    border: none;
}

#menu button:hover {
    background: rgba(100,100,100,0.5);
    color: red;
}

#menu form {
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
}

#menu form button {
    display: inline-block;
    margin: auto;
}

#mainMenu button, #inGameMenu button {
    display: block;
    margin: 4vh auto;
}

#creationForm div {
    margin: 2vh auto;
}

#creationForm .back {
    margin-right: 15px;
}

#creationForm .start {
    margin-left: 15px;
}

#creationForm #nbPoints {
    color: #00ee00;
}

#options div {
    margin: 5vh auto;
}

#options input {
    width: 3vh;
    height: 3vh;
}

#story > div {
    margin: 0 auto;
    height:50vh;
    width: 70vw;
    overflow-y: scroll;
    text-align: left;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* Game interface (canvases and div) */
#gameInterface {
    background-color: yellow;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

#hud {
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 10vh;
    display:flex;
    justify-content: space-between;
}

#hud div, #hud button, #hud img, #hud span {
    display: inline-block;
    margin-right: 1vw;
    height: inherit;
}

#hud span {
    font-size: 10vh;
}

#dialog {
    position: absolute;
    top: 10vh; 
    left: 50%;
    transform: translate(-50%);
    margin: 0;
    padding: 0;
    width: 90vw;
    height: 70vh;
    background-color: blue;
    border: 5px solid white;
    border-radius: 5px;
    z-index: 10;
}

#gameZone {
    background-color: pink;
    position: absolute;
    top: 10vh;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 90vh;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

#background {
    z-index: 1;
}

#foreground {
    z-index: 2;
}

/* Loading screen */
#loading {
    font-size: 5vh;
    text-align: center;
}

#loading button {
    margin: 5vh auto;
    background: none;
    font-family: 'enchantedLandRegular';
    font-size: 15vh;
    padding: 10px;
    animation: light_blink 2s linear infinite;
}

@keyframes light_blink {
    0% { 
        color:white;
        border: 3px solid white;  
    }
    50% {
        color:grey;
        border: 3px solid grey;  
    }
    100% { 
        color:white;
        border: 3px solid white;  
    }
}

/* Spinner animation*/
#loading svg,
#loading img {
    display: inline-block;
    margin-top: 2vh;
    fill: white;
}

.spinner_1 {
    animation: spinner_anim 2.4s linear infinite;
    animation-delay: -2.4s
}

.spinner_2 {
    animation-delay: -1.6s
}

.spinner_3 {
    animation-delay: -.8s
}

@keyframes spinner_anim {
    8.33% { x: 13px; y: 1px }
    25% { x: 13px; y: 1px }
    33.3% { x: 13px; y: 13px }
    50% { x: 13px; y: 13px }
    58.33% { x: 1px; y: 13px }
    75% { x: 1px; y: 13px }
    83.33% { x: 1px; y: 1px }
}